.app {
    text-align: center;
}

#lbl-operation {
    margin-right: 5px;
}

textarea {
    resize: none;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 5px;
}

div.alert.alert-danger {
    background-color: #ee3030;
    padding: 20px;
    margin-bottom: 5px;
    color: #ffffff;
}
